html {
   box-sizing: border-box;
}
/*
* {
    margin: 0;
    padding: 0;
}*/


body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
 }

 
/*.catalog-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/catalog-bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;  
}*/

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
 }  

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*=============Хедер==============*/

.main-header
/*.catalog-header*/ {
  width: 1280px;
  min-height: 750px;
  background-color: #f2f2f2;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  align-items: center;
  height: 56px;
  font-size: 13px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
  /*box-shadow: -7px 0px 15px -10px #34495e,
              7px 0px 15px  -10px #34495e;*/
}

.main-header-logo {
  width: 138px;
  height: 70px;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  z-index: 1;
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li:first-child {
  margin-left: 7px;
  margin-right: 22px;
}

.site-navigation li:nth-child(4) {
  margin-right: 38px;
}

.site-navigation li:nth-child(5) {
  margin-right: 10px;
}

.site-navigation a {
  display: block;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.welcome-icon {
  position: relative;
}

.welcome-image {
  position: absolute;
  top: 60px;
  left: 372px;
  width: 458px;
  height: 352px;
  background-image: url("../img/group-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 458px;
  text-align: center;
}

.welcome-line-left {
  position: absolute;
  top: 130px;
  left: 472px;
  width: 150px;
  height: 2px;
  background-image: url("../img/layer-9.png");
}

.welcome-line-right {
  position: absolute;
  top: 130px;
  left: 700px;
  width: 150px;
  height: 2px;
  background-image: url("../img/layer-9.png");
}

.header-background {
  width: 1200px;
  height: 508px;
}

.header-footer-img {
  position: absolute;
  top: 507px;
  left: 75px;
  width: 1200px;
  min-height: 57px;
  background-image: url("../img/shape-1.png");
  margin: 0 auto;
}
  
.header-footer {
  width: 1200px;
  min-height: 187px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 29px;
}
  
.header-footer h3,
.header-footer p {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
  
.header-footer h3 {
 width: 480px;
 margin-left: 356px;
 font-weight: bold;
 font-size: 19px;
 line-height: 26px;
 color: #000000;
 padding-top: 60px;
 margin-bottom: 28px; 
 letter-spacing: 1px;
}  

  
/*==============Особенности============*/

.main-container {
  width: 1280px;
  margin: 0;
  padding: 0;
}

.features-first,
.features-third {
  display: flex;
  width: 1280px;
  height: 256px;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 35px;
}

.city-info-1,
.city-info-2 {
  width: 400px;
  height: 256px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
 /* box-shadow: -12px 2px 30px -2px rgba(0, 1, 1, 0.15); */
}

.city-info-1 h3 {
  display: block;
  width: 150px;
  text-align: center;
  margin-left: 125px;
  margin-top: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.city-info-1 p + p {
  display: block;
  width: 295px;
  margin-left: 55px;
  margin-top: 19px;
  line-height: 21px;
  letter-spacing: 0.5px;
}

.feature-1-bg {
  width: 800px;
  height: 256px;
  /* box-shadow:  12px 2px 30px -2px rgba(0, 1, 1, 0.15); */
}

.features-second {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 35px;
}

.features-list {
  /* box-shadow:  0px -10px 30px -1px rgba(0, 1, 1, 0.15), 
               0px 0px 30px -1px rgba(0, 1, 1, 0.15); */
}

.features-1 .features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  min-height: 330px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  list-style: none;
}

.features-1 .feature-item:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
.features-1 .feature-item:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  top: 61px;
  left: 560px;
  width: 74px;
  height: 70px;
  background-image: url("../img/food.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
.features-1 .feature-item:nth-child(3):before {
  content: "";
  display: block;
  position: absolute;
  top: 56px;
  left: 968px;
  width: 64px;
  height: 76px;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-item p {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
}

.features-1 .feature-item h3 {
  padding-bottom: 2px;
}

.features-1 .feature-item:first-child {
  display: block;
  width: 300px;
  margin-top: 71px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.features-1 .feature-item:nth-child(2) {
  display: block;
  width: 300px;
  margin-top: 71px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.features-1 .feature-item:nth-child(3) {
  display: block;
  width: 300px;
  margin-top: 71px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.city-info-2 {
  /* box-shadow: 12px 2px 30px -2px rgba(0, 1, 1, 0.15); */
}

.city-info-2 h3 {
  display: block;
  width: 151px;
  text-align: center;
  margin-top: 47px;
  margin-left: 125px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.city-info-2 p + p {
  display: block;
  width: 320px;
  margin-left: 40px;
  margin-top: 19px;
  line-height: 21px;
}

.features-fourth {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 1280px;
  min-height: 257px;
  /*margin: 0;
  padding: 0;*/
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 35px;
}

.features-2 .features-list {
  display: flex;
  width: 1200px;
  min-height: 257px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
  background-color: #eeeeee;
}

.features-2 .feature-item:first-child {
  display: block;
  width: 280px;
  margin-top: 27px;
  margin-left: 58px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.features-2 .feature-item:nth-child(2) {
  display: block;
  width: 280px;
  margin-top: 27px;
  margin-left: 121px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.features-2 .feature-item:nth-child(3) {
  width: 270px;
  margin-top: 27px;
  margin-left: 125px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
} 

.features-2 .feature-item h3 {
  width: 160px;
  margin-left: 60px;
  margin-bottom: 24px;
}

.features-2 .feature-item:last-child h3 {
  margin-left: 55px;
}

.features-2 .feature-item > p {
  margin-bottom: 20px;
}

.feature-2-bg {
  /* box-shadow: -12px 2px 30px -2px rgba(0, 1, 1, 0.15); */
}

/*.border-shadow {
 box-shadow: 0px 20px 30px -1px rgba(0, 1, 1, 0.15);
}*/

/*===============Карта и модальное окно================*/

.modal-search {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 35px;
  position: relative;
}

.search-info {
  width: 1200px;
  min-height: 290px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;             
}

.border-shadow {
  /* box-shadow:  0px 0px 30px 0px rgba(0, 1, 1, 0.15); */
}

.search-info h2 {
  width: 434px;
  margin: 0;
  padding: 0;
  padding-top: 49px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.search-info p {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
}

.btn {
  border: none;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-large {
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 50px;
  background-color: #766357;
  cursor: pointer;
}
 
.btn-large:hover,
.btn-large:focus {
  background-color: #604e43;
  outline: none;
}
 
.btn-large:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
 
.btn-medium {
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 0px;
  background-color: #81b3d2;
  margin-left: 5px;
}
 
.btn-medium:hover,
.btn-medium:focus {
  background-color: #669ec0;
  outline: none;
}
 
.btn-medium:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
 
.search-form-wrapper {
  position: absolute;
  top: 204px;
  left: 356px;
  width: 568px;
  margin: 0 auto;
}

.animation-form {
  display: none;
}

.btn-large:hover ~ .animation-form {
  display: block;
  transition-duration: 200ms;
}
 
.search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: #ffffff;
  /*box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);*/

}

.search-form-row-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
 
.search-form-row-1 label {
  display: block;
  flex-shrink: 0;
  margin-top: 11px;
  margin-left: 6px;
  margin-right: 23px;
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
 
.search-form-row-1 input {
  display: block;
  width: 322px;
  height: 26px;
  padding: 6px 12px;
  border: none;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
}

.search-form-row-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}
 
.search-form-row-2 label {
  display: block;
  flex-shrink: 0;
  margin-top: 11px;
  margin-left: 6px;
  margin-right: 19px;
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
 
.search-form-row-2 input {
  display: block;
  width: 322px;
  height: 26px;
  padding: 6px 12px;
  border: none;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
}

.search-form-row-3 {
  display: flex;
  margin-bottom: 54px;
}
 
 .search-form-row-3 label {
  display: block;
  flex-shrink: 0;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 40px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
} 
 
 .search-form-row-3 input {
  display: block;
  width: 35px;
  height: 26px;
  padding: 6px 1px;
  border: none;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  outline: none;
} 

.search-form-row-1 input:hover,
.search-form-row-2 input:hover,
.search-form-row-3 input:hover {
  background-color: #ebebeb;
}
  
.search-form-row-1 input:focus,
.search-form-row-2 input:focus,
.search-form-row-3 input:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}
  
.search-form-row-1 input::placeholder,
.search-form-row-2 input::placeholder {
  color: #000000;
}
  
.calendar-btn {
  display: block;
  position: absolute;
  width: 39px;
  height: 38px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
  
.calendar-icon {
  position: absolute;
  top: 8px;
  left: 433px;
  fill: #cacaca;
}
  
.calendar-btn:hover .calendar-icon,
.calendar-btn:focus .calendar-icon  {
  fill: #000000;
}
  
.calendar-btn:active .calendar-icon {
  fill: #81b3d2;
}
  
.search-form-column {
  display: flex;
  width: 210px;
}

.search-form-column-1 {
  margin-right: 75px;
}

.search-form-column-2 label {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-right: 27px;
}
  
.input-control {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
  
.input-control-plus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 11px;
  height: 3px;
  border-radius: 1px;
  background-color: #a9a9a9;
}
  
.input-control-plus::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;
  width: 3px;
  height: 11px;
  border-radius: 1px;
  background-color: #a9a9a9;
}
  
.input-control-minus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  border-radius: 1px;
  background-color: #a9a9a9;
}
  
.input-control:hover::before,
.input-control:hover::after,
.input-control:focus::before,
.input-control:focus::after {
  background-color: #000000;
}
  
.input-control:active::before,
.input-control:active::after {
  background-color: #81b3d2;
}

.map-block {
  width: 1200px;
 /* min-height: 460px;*/
  background-color: #f2f2f2;
 /* padding-left: 40px;*/
  padding-right: 40px;
  margin-bottom: 0px;
}

.map-block-info {
  width: 1200px;
  height: 473px;
  margin: 0;
  padding: 0;
  /* box-shadow:  0px 0px 20px 0px rgba(0, 1, 1, 0.15); */
 }  

/*================Футер===============*/

.main-footer {
  width: 1200px;
  min-height: 120px;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 35px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  min-height: 120px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  /* box-shadow:  0px 0px 20px 0px rgba(0, 1, 1, 0.15); */
}

 .footer-block  h3 {
  width: 200px;
  margin: 0;
  padding: 0;
  padding-left: 58px;
  margin-right: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-socials {
  display: flex;
  list-style: none;
  width: 200px;
  padding-right: 28px;
}

.footer-socials li {
  margin-right: 6px;
}

.social-button {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.social-button::before {
  content: "";
  position: absolute;
  display: block;
}

.social-btn-tw::before {
  top: 17px;
  left: 15px;
  width: 17px;
  height: 15px;
  background: url(../img/twit.png) no-repeat center;
}

.social-btn-fb::before {
  top: 13px;
  left: 17px;
  width: 12px;
  height: 22px;
  background: url(../img/fb-icon.png) no-repeat center;
}

.social-btn-yt::before {
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background: url(../img/youtube.png) no-repeat center;
}

.footer-copyright  {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 22px;
}

.footer-copyright a {
  padding-top: 7px;
}

.footer-copyright b {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-right: 7px;
} 


/* =============Страница Каталога============ */

/* ==============Хедер================ */

/* ==============Блок Сайдбар============== */


.catalog-header {
  width: 1280px;
  /*min-height: 500px;*/
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
}

.filters {
  width: 1200px;
  height: 217px;
  background-image: url("../img/cat-head-bg.jpg");
  background-repeat: no-repeat;
}

.filters form {
  display: flex;
  justify-content: flex-start;
  margin-left: 69px;
}

.filter-features-1,
.filter-features-2 {
  width: 150px;
}

.filter-features-1 h3 { 
  margin-top: 24px;
  padding-left: 4px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-align: justify;
}

.filter-features-2 h3 {
  margin-top: 24px;
  padding-left: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-align: justify;
}

.filter-features-2 {
  margin-left: 104px;
}

.filter-features-2 label {
  padding-left: 5px;
}

.filter-option-list {
  list-style: none;
}

.filter-option-list li {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-weight: normal;
  font-size: 13px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
  /*opacity: 1;*/
} 

.filter-input:disabled + label {
  opacity: 0.5;
}

.filter-input-checkbox ~ label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 2px;
  width: 19px;
  height: 19px;
  /*background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;*/
  border: 2px solid white;
  border-radius: 15%;
  /*background-color: white;
  color: white;*/
}

.filter-input-checkbox:checked ~ label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -33px;
  width: 17px;
  height: 7px;
  border: 4px solid white;
  border-top: none;
  border-right: none;
  border-radius: 2px;
  transform: rotate(-47deg);
  /*background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-color: white;
  color: white;
  z-index: 2;*/
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 337px;
  margin-bottom: 35px;
} 

.filter-item legend {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 8px;
  padding-top: 24px;
}

.price-controls {
  width: 314px;
  height: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  vertical-align: top;
  padding-top: 2px;
  color: #ffffff;
}

.price-controls .min-price {
  margin-left: 64px;
}

.price-controls .max-price {
  margin-left: 45px;
}

.price-controls input {
  width: 32px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.price-controls span {
  font-size: 26px;
  font-weight: normal;
  margin-left: 31px;
  color: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: gray;
}

.range-controls .bar {
  width: 84%;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  top: -9px;
  left: 0px;
  width: 4px;
  height: 4px;
  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 0;
}

.range-controls .toggle-max {
  top: -9px;
  left: 253px;
  width: 4px;
  height: 4px;
  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 0;
}

.btn-filter {
  display: block;
  margin-left: 85px;
  padding: 9px 33px;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.btn-filter:hover {
  background-color: #b1b1b1;
  outline: none;
}

.btn-filter:active {
  background-color: #a7a7a7;
  color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  outline: none;
} 

/* ==========Блок main=========== */

.catalog-container {
  width: 1280px;
  background-color: #f2f2f2;
  padding-left: 40px;
  padding-right: 40px;
}

.sorting {
  display: flex;
  width: 1200px;
  height: 87px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sorting h2 {
  font-size: 19px;
  color: #000000;
  margin-top: 31px;
  margin-left: 72px;
}

.sorting h3 {
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 30px; 
  margin-left: 46px; 
}

.sorting-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 30px; 
  margin-left: 38px;
  list-style: none;
  text-transform: uppercase;
} 

.sorting-by-price {
  margin-top: 1px;
}

.sorting-by-price a {
  font-size: 11px;
  color: #81b3d2;
}

.sorting-by-type {
  margin-top: 1px;
  margin-left: 30px;
}

.sorting-by-type a {
  font-size: 11px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  padding-bottom: 1px;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-by-name {
  margin-top: 1px;
  margin-left: 30px;
}

.sorting-by-name a {
  font-size: 11px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  padding-bottom: 1px;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-by-price a:hover,
.sorting-by-type a:hover,
.sorting-by-name a:hover {
  opacity: 0.5;
}

.sorting-by-price a:active,
.sorting-by-type a:active,
.sorting-by-name a:active {
  opacity: 1;
}

.sorting-list li:last-child {
  margin-right: 0;
}

.icons {
  display: flex;
  position: relative; 
  margin-left: 495px;
  /*background-color: white;*/
  margin-top: 15px;
}

.icon-up {
  position: absolute;
  top: 11px;
  left: 10px;  
  width: 12px;
  height: 12px;
  opacity: 0.9;
  background-image: url("../img/icon-up-dir.png");
  background-position: 0 0;
  background-repeat: no-repeat;
} 

.icon-down {
  position: absolute;
  top: 11px;
  left: 33px;  
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-down-dir.png");
  background-position: 0 0;
  background-repeat: no-repeat;
} 

.icon-up:hover {
  opacity: 0.4;
}

.icon-up:active {
  opacity: 1;
}

.catalog-list-1 {
  display: flex;
  position: relative;
  width: 1200px;
  height: 151px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.amara-resort-img {
  margin-top: 30px;
  margin-left: 72px;
}

.hotel-list-1 {
  width: 330px;
  margin-top: 10px;
  margin-left: 31px;
}

.hotel-list-1 h2 {
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.hotel-amara {
  font-size: 12px;
}

.amara-hotel-price {
  margin-left: 34px;
}

.amara-info {
  display: flex;
  margin: 0;
  padding: 0;
}

.amara-details {
  margin-top: 12px;
  margin-left: -1px;
}

.amara-details a {
  padding: 6px 17px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
}

.amara-booking {
  margin-top: 12px;
}

.amara-booking a {
  padding: 6px 16px;
  margin-left: 6px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
}

.amara-stars-1 {
  position: absolute;
  top: 15px;
  left: 1038px;  
  width: 20px;
  height: 20px;
  background-image: url("../img/star.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.amara-stars-2 {
  position: absolute;
  top: 15px;
  left: 1061px;  
  width: 20px;
  height: 20px;
  background-image: url("../img/star.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.amara-stars-3 {
  position: absolute;
  top: 15px;
  left: 1088px;  
  width: 20px;
  height: 20px;
  background-image: url("../img/star.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.amara-stars-4 {
  position: absolute;
  top: 15px;
  left: 1110px;  
  width: 20px;
  height: 20px;
  background-image: url("../img/star.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.amara-rating {
  margin: 0;
  padding: 0;
  width: 112px;
  height: 28px;
  margin-top: 94px;
  margin-left: 448px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}









